*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #f3d5fb;
    text-align: center;
    padding:1%;
}
#profile{
    display:block;

    border: 5px double #372d2d;
    max-width: 40%;
}
main{

    text-align: center;
    font-size: calc(2px + 1.5vw);

}

h1{
    font-family:"Segoe UI Black";
    text-align: center;

}
nav{
    background-color: #ededed;
    padding:1px;
    margin-left:0;
    border: 3px solid black;


}
nav ul{
    padding-left:0;
    list-style: none;
    text-align: center;
    display:flex;

    margin:0;


}
footer {

    padding: 1%;
    text-align: center;
}
nav li{

    display: inline;
    border-right: 2px solid black;
    margin: 0% auto;
    width: 20%;
    padding: 0.5%;

}

#nav-main{
    width:100%;
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    font-family: "Century Gothic";
    font-size:19px;
    font-weight : bold;
    color: black;


}
#page-wrapper{
    width: 80vw;
    background-color: #f7e1ff;
    margin: 0 auto;
    min-height: 100vh;
}
p{
    font-family: "Dubai Medium";
    font-size: 20px;
    text-align: center;

}
@media screen and (max-width:1000px){
    #nav-main{
        flex-direction: column;

    }
    nav, main{

        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #page-wrapper{
        min-height: 100vh;
    }
    #about-me h2{
        width:100%;
        font-size: calc(2px + 1.5vw);
    font-family: "Segoe UI Black"
    }
    nav li{
        width:100%;
        padding: 5px 0;
        margin :0;
        border-right: none;
        border-bottom: 2px solid black;

    }
    main{
    height: auto;
    }
    #main-content{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0%;
        font-size: calc(4px + 5vw);

    }
    #about-me{
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        margin-left: 0%;
        font-size: calc(4px + 5vw);

    }
}


#main-content{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 3%;
    margin-top:5%;
}

#main-info{
    list-style: none;


}
#main-info li{

    margin-bottom:5%;
    font-family:"Dubai Medium";
    font-weight:bold;
    font-size:28px;

    color: #372d2d;
}


#about-me{
    width: 100%;
    height:100vh;
    text-align: center;



}


.info{
    font-size:26px;
    margin-top: 2%;
}

.college-education{
    display: flex;
    align-items: center;
    gap: 50px;

}
#ed-contents ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5%;
    align-content: space-between;
    margin-left:10%;
    font-family: "Dubai Medium";

}

.logo{
    width:30%;
    height:40%;
    display: block;
}
.section{
    margin-top:5%;
    font-family: "Segoe UI Black";
    font-size:30px;
}

 .container{background-color:white;
 margin-top:5%;
 border-radius: 10px;
 width: 70%;
     height: 10%;
     align-items: center;
     margin-left:15%;
     display: flex;
     border: 3px solid black;
     padding: 3%;
     justify-content: space-between;
 }
 .container ul{
list-style: none;
 }
 .container ul li{
     font-family: "Dubai Medium";
     font-size: 24px;
     margin-bottom:2%;
 }
 .name{
     font-family: "Dubai Medium";
     font-size: 28px;
 }




.container_2{
    background-color:white;
    margin-top:5%;
    border-radius: 10px;
    width: 70%;
    height: 10%;

    margin-left:15%;
    display: flex;
    border: 3px solid black;
    padding: 3%;
    align-items: flex-start;

}
.container_2 ul{
    list-style: none;
    align-content: space-between;


}
.container_2 ul li{
    font-family: "Dubai Medium";


    margin-bottom: 1.5%;

}

#first-num{
    width:40px;
    height:40px;
}

.container_3{
    background-color:white;
    margin-top:5%;
    border-radius: 10px;
    width: 70%;
    height: 10%;
    align-items: center;
    margin-left:15%;

    border: 3px solid black;
    padding: 6%;
}
.project-name{
    font-family:"Segoe UI Black";

}
.description{
    font-family:"Dubai Medium";
}
.tools{
    font-size: calc(2px + 1.5vw);
    display:flex;
    padding:3% 2%;
    text-decoration: none;
    color:rgb(51, 12, 55);
    font-family:"Dubai Medium";
    background-color: rgb(255, 211, 211);
    border: 2px solid #cf84cc;
    border-radius: 10px;
    gap:2%;
    list-style: none;
}
.tech{
    font-family: "Dubai Medium";

}
.row{
    width:33%;
    padding-left:10%;

}

#first_num{
    width:10%;
    height:50%;
    padding:2%;
}
#last_num{
    width:10%;
    height:50%;
    padding:2%;

}
#operations{
    margin-top:5%;
}
#numbers{
    margin-top:5%;
    gap:20px;

}
#operations button{
    width:15%;
    height:30%;
    padding:2%;
    font-size:18px;
    font-family: "Dubai Medium";
}
#numbers input{
    align-content: space-between;



}
#output-area{
    margin-top:5%;
    font-family: "Dubai Medium";
    font-size:25px;
}


#achievements ul{
    list-style:none;
    font-family: "Dubai Medium";
    align-content: center;
    font-size: 24px;
    font-weight: bold;

}

#achievements ul li{
    margin-top:2%;
}