*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #f3d5fb;
    text-align: center;
    padding:1%;
}
#profile{
    display:block;

    border: 5px double #372d2d;
    max-width: 40%;
}
main{

    text-align: center;
    font-size: calc(2px + 1.5vw);

}

h1{
    font-family:"Segoe UI Black";
    text-align: center;

}
nav{
    background-color: #ededed;
    padding:1px;
    margin-left:0;
    border: 3px solid black;


}
nav ul{
    padding-left:0;
    list-style: none;
    text-align: center;
    display:flex;

    margin:0;


}
footer {

    padding: 1%;
    text-align: center;
}
nav li{

    display: inline;
    border-right: 2px solid black;
    margin: 0% auto;
    width: 20%;
    padding: 0.5%;

}

#nav-main{
    width:100%;
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    font-family: "Century Gothic";
    font-size:19px;
    font-weight : bold;
    color: black;


}
#page-wrapper{
    width: 80vw;
    background-color: #f7e1ff;
    margin: 0 auto;
    min-height: 100vh;
}
p{
    font-family: "Dubai Medium";
    font-size: 20px;
    text-align: center;

}
@media screen and (max-width:1000px){
    #nav-main{
        flex-direction: column;

    }
    nav, main{

        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #page-wrapper{
        min-height: 100vh;
    }
    #about-me h2{
        width:100%;
        font-size: calc(2px + 1.5vw);
    font-family: "Segoe UI Black"
    }
    nav li{
        width:100%;
        padding: 5px 0;
        margin :0;
        border-right: none;
        border-bottom: 2px solid black;

    }
    main{
    height: auto;
    }
    #main-content{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0%;
        font-size: calc(4px + 5vw);

    }
    #about-me{
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        margin-left: 0%;
        font-size: calc(4px + 5vw);

    }
}


#main-content{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 3%;
    margin-top:5%;
}

#main-info{
    list-style: none;


}
#main-info li{

    margin-bottom:5%;
    font-family:"Dubai Medium";
    font-weight:bold;
    font-size:28px;

    color: #372d2d;
}


#about-me{
    width: 100%;
    height:100vh;
    text-align: center;



}


.info{
    font-size:26px;
    margin-top: 2%;
}

.college-education{
    display: flex;
    align-items: center;
    gap: 50px;

}
#ed-contents ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5%;
    align-content: space-between;
    margin-left:10%;
    font-family: "Dubai Medium";

}

.logo{
    width:30%;
    height:40%;
    display: block;
}
.college-text{

}